html,body{
    margin-left: 20px;
    margin-right: 20px;
}

.search-container{
    margin-top: 20px;
}

.operate-container{
    margin-top: 20px;
    padding: 5px;
    border-radius: 2px;
    background-color: #F2F2F2;
}

.table-container{
    width: 100%;
    margin-top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myui-checkbox{
    background-color: #FFFFFF;
}

.myui-checkbox .iconfont{
    color: #FFFFFF;
    display: block;
    text-align: center;
}

td .opertor .iconfont{
    color: #000;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

table .column-check{
    width: 60px;
}

table .column-id{
    width: 60px;
}

table .column-opertor{
    width: 100px;
}

.myui-checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    cursor: pointer;
}
.myui-checkbox:hover{
    border-color: #5FB878;
}
.myui-checkbox.checked{
    background-color: #5FB878;
    border-color: #5FB878;
}


.datepicker{
    vertical-align: top;
}