html,body{
    margin-left: 20px;
    margin-right: 20px;
}

.search-container{
    margin-top: 20px;
}

.operate-container{
    margin-top: 20px;
    padding: 5px;
    border-radius: 2px;
    background-color: #F2F2F2;
}

.table-container{
    width: 100%;
    margin-top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table .column-check{
    width: 60px;
}

table .column-id{
    width: 60px;
}

table .column-opertor{
    width: 100px;
}


.datepicker{
    vertical-align: top;
}