@-webkit-keyframes myui-m-anim-scale { /* 默认 */
    0% {opacity: 0; -webkit-transform: scale(.5); transform: scale(.5)}
    100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)}
}
@keyframes myui-m-anim-scale { /* 由小到大 */
    0% {opacity: 0; -webkit-transform: scale(.5); transform: scale(.5)}
    100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)}
}
.myui-m-anim-scale{
    animation-name:  myui-m-anim-scale;
    -webkit-animation-name:  myui-m-anim-scale;
    animation-duration: 500ms;
}