.myui-dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}
.myui-dialog.show{
    display: block;
}
.myui-dialog-body{
    position: absolute;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1000;
}
.myui-dialog-title{
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    background-color: #F8F8F8;
    color: black;
    font-size: 16px;
    z-index: 1000;
}
.myui-dialog-content{
    position: absolute;
    background: #FFFFFF;
    z-index: 1000;
}

/*-------------------------------------------------frame-------------------------------------------------------------*/

.myui-dialog.frame{
    background-color: rgba(221,221,221,0.8);
}
.myui-dialog-title.frame{}
.myui-dialog-body.frame{}

.myui-dialog.frame cite{
    font-style: normal;
    color: #000000;
}
.myui-dialog-content.frame{
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
}
.myui-dialog-content.frame iframe{
    width: 100%;
    height: 100%;
}
.myui-dialog-title.frame .myui-dialog-oprator{
    display: inline-block;
    margin-left: 10px;
    float: right;
}
.myui-dialog-title.frame .myui-dialog-oprator i{
    cursor: pointer;
    padding: 0px 4px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;
}
.myui-dialog-title.frame .myui-dialog-oprator .hide{
    display: none;
}

/*-------------------------------------------------toast---------------------------------------------------------------*/
.myui-dialog.toast{
    z-index: -1;
}
.myui-dialog-body.toast{
    overflow: hidden;
}
.myui-dialog-title.toast{
    display: none;
}
.myui-dialog-content.toast{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.myui-dialog-content.toast div{
    height: 62px;
    line-height: 64px;
    border: 1px solid #dddddd;
    white-space: nowrap;
}
.myui-dialog-content.toast div cite{
    display: inline-block;
    font-style: normal;
    vertical-align: top;
    margin-right: 20px;
    min-width: 180px;
    margin-left: 5px;
}
.myui-dialog-content.toast div i.iconfont{
    display: inline-block;
    font-size: 32px;
    color: red;
    vertical-align: top;
    margin-left: 20px;
}

/*----------------------------------------------------prompt--------------------------------------------------------*/

.myui-dialog.prompt{
    background-color: rgba(221,221,221,0.8);
}
.myui-dialog-title.prompt{

}
.myui-dialog-title.prompt .myui-dialog-oprator{
    display: inline-block;
    margin-left: 10px;
    float: right;
}
.myui-dialog-title.prompt .myui-dialog-oprator i{
    cursor: pointer;
    padding: 0px 4px;
    height: 43px;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;
}
.myui-dialog-body.prompt{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.myui-dialog-body.prompt cite{
    font-style: normal;
}

.myui-dialog-content.prompt{
    position: absolute;
    top: 43px;
    height:104px;
    width: 260px;
    border-top: 1px solid #dddddd;
}

.myui-dialog-content.prompt .buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.myui-dialog-content.prompt .content{
    display: block;
    padding: 20px 15px;
    font-size: 16px;
}

.myui-dialog-content.prompt .btn{
    height: 28px;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 0px 15px;
    cursor: pointer;
}
.myui-dialog-content.prompt .btn:hover{
    opacity: 0.8;
}
.myui-dialog-content.prompt .btn.sure{
    background-color: #1E9FFF;
    color: #ffffff;
}
.myui-dialog-content.prompt .btn.cancel{
    background-color: #FFFFFF;
    color: #000000;
}