.myui-table{
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.myui-table-th{
    padding: 10px 20px;
    background-color: #F2F2F2;
}
.myui-table-td{
    padding: 15px 20px;
    background-color: #FFFFFF;
}
.myui-table,.myui-table tr th,.myui-table tr td{
    border: 1px solid #E6E6E6;
}
.myui-table cite{
    font-style: initial;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
}


.myui-table-operator{
    margin-top: 20px;
    text-align: center;
    font-size: 0px;
}
.myui-table-operator .btn{
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0C0C0C;
    font-size: 18px;
    margin: 0px 3px;
}
.myui-table-operator .btn.selected{
    background-color: #009688;
    color: #FFFFFF;
}
.myui-table-operator .btn.ellipsis{
    pointer-events: none;
    content: '...';
    background-color: transparent;
    border: none;
    color: #0C0C0C;
}
.myui-table-operator #middle{
    display: inline-block;
}