  <div class="myui-dialog prompt">
    <div class="myui-dialog-container">
    <div class="myui-dialog-title">
    <cite>${title}</cite>
    <div class="myui-dialog-oprator">
        <i id="minimize" class="iconfont">&#xe600;</i>
        <i id="maximize" class="iconfont">&#xe61b;</i>
        <i id="resize" class="iconfont hide">&#xe602;</i>
        <i id="close" class="iconfont">&#xe647;</i>
        </div>
    </div>
    <div class="myui-dialog-content">
        <iframe frameborder="0" scrolling="yes"></iframe>
    </div>
    </div>
  </div>